body {
    font-family: tahoma;
    font-size: 12px;
}
#outerbody {
    background: url("images/bg_gradient.png") repeat-x scroll 0 0%, url("images/73.png") repeat scroll 0 0%, url("images/37.png") repeat scroll 0 0 transparent;
}
#innerbody {
    color: #444444;
}
* {
    margin: 0;
    padding: 0;
}
.pagebg { width: 100%; }

div.main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 730px;
    width: 1200px;
}

element.style {
    display: none;
}
div#s5 {
    background: url("images/bg.png") no-repeat scroll left top transparent;
    height: 387px;
    position: relative;
    
    width: 1200px;
}
div#content {
    position: relative;
    width: 1200px;
}
#login-form {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CECECE;
    border-radius: 17px 17px 17px 17px !important;
    border-top: 1px solid #CECECE;
    height: 119px;
    margin: 15px auto;
    padding: 25px 25px 15px 15px;
    width: 600px !important;
}

#content > table {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CECECE;
    border-radius: 7px;
    border-top: 1px solid #CECECE;
    height: 119px;
    margin: 15px auto;
    padding: 15px;
    width: 897px;
}

.borderless-form > table {
    background-color: #f9f4ec;
/*    background: url("images/greydiv_bg.png") repeat-x scroll left top transparent;*/
    padding: 5px 25px;
    border-bottom: 1px solid #CECECE;
    border-radius: 7px 7px 7px 7px;
    border-top: 1px solid #CECECE;
    margin: 25px;
    margin-left: 150px;
    padding: 11px;
}

div#footer {
    background: url("images/footerbg.png") no-repeat scroll left top transparent;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 919px;
}

div.copyright {
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 17px 0 0 17px;
}

span.rights {
    float: right;
    padding-right: 23px;
}
.login-panel-body {
    width: 400px;
}
.login-panel-body table { width: 100%; }
.menu-date { font-weight: bold; }
div#infgorod {
    background: url("images/infgorod2.png") no-repeat scroll left top transparent;
    height: 120px;
    width: 320px;
    margin-left: -330px;
    margin-bottom: 50px;
    position: absolute;
    bottom:0px;
}

div.firstbg {
    background: url("images/new_bg.png") repeat-x scroll left top transparent;
    margin-top: -10px;
    padding-top: 20px;
}

div.secondbg {
    background: url("images/inner_bg.jpg") no-repeat scroll center top transparent;
    min-width: 1260px;
    margin-top: -10px;
    padding-top: 20px;
}

div.innerpage {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

div.topbg {
    background: url("images/topbg.png") repeat-x scroll left top ;
    height: 51px;
    width: 100%;
}

div.topmenu {
    background: url("images/topbg.png") repeat-x scroll left top transparent;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    width: 1259px;
}

div.logo {
    background: url("images/newlogo.png") no-repeat scroll left top transparent;
    float: left;
    height: 51px;
    margin-left: 12px;
    width: 158px;
}

div.toplinks {
    background: url("images/toplinksborder.png") no-repeat scroll right top transparent;
    float: left;
    height: 34px;
    padding: 17px 35px 0;
}

div.shapkabgleft {
    background: url("images/shapkabgL.png") repeat-x scroll left top transparent;
    height: 72px;
    min-width: 1px;
    width: 100%;
}

h1.head_title {
    background: url("images/header_bg2.png") no-repeat scroll 0 0 transparent;
    height: 72px;
    text-indent: -32000px;
    white-space: nowrap;
    width: 1255px;
}

div.shapkabgright {
    background: url("images/shapkabgR-new1.png") repeat-x scroll left top transparent;
    height: 72px;
    min-width: 1px;
    width: 100%;
}
.tab {
    text-align:center;
}
.tab a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.active-tab {
    background-color: #cceecc;
    border-radius: 7px 7px 7px 7px;
}
.topup-info {
    color: 009900;
}
.od-c-item {
    margin-left:15px;
}
.infotable td {
    padding-left: 5px;
}
.header-tr {
    background-color: #f2f2f2;
    font-weight: bold;
}
.header-tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.subheader-tr {
    background-color: #f0f0f0;
    text-align:center;
}
