<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- Для работы шаринга сессий в кластере -->
    <distributable/>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>darkX</param-value>
    </context-param>

    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING</param-name>
        <param-value>disable</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.jsp</param-value>
    </context-param>



    <filter>
        <filter-name>RichfacesFilter</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
        <init-param>
            <param-name>createTempFiles</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>RichfacesFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>RichFacesFirefox11Filter</filter-name>
        <filter-class>ru.axetta.ecafe.processor.web.RichFacesFirefox11Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RichFacesFirefox11Filter</filter-name>
        <url-pattern>/a4j/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LimitFilter</filter-name>
        <filter-class>ru.axetta.ecafe.processor.web.LimitFilter</filter-class>
    </filter>

    <filter>
        <filter-name>XLSReportsFilter</filter-name>
        <filter-class>ru.axetta.ecafe.processor.web.XLSReportsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LimitFilter</filter-name>
        <servlet-name>SyncServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>XLSReportsFilter</filter-name>
        <url-pattern>/back-office/index.faces</url-pattern>
    </filter-mapping>

    <!--<filter>
        <filter-name>PreorderServiceFilter</filter-name>
        <filter-class>ru.axetta.ecafe.processor.web.partner.preorder.PreorderServiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PreorderServiceFilter</filter-name>
        <url-pattern>/preorder/*</url-pattern>
    </filter-mapping>-->

    <listener>
        <display-name>JavaServer Faces configure listener</display-name>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>

    <listener>
        <listener-class>ru.axetta.ecafe.processor.web.RuntimeInitListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SyncServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.SyncServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CommonTaskServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.CommonTaskServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SpbCardServiceServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.spb.ExtendCardServiceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.ImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SmsServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.SmsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProjectStateReportServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.ProjectStateReportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SMSStatusServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.sms.altarix.SMSStatusServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.PaymentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RBKMoneyPaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.rbkmoney.RBKMoneyPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChronopayPaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.chronopay.ChronopayPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBRTOnlinePaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.sberbank_rt.SBRTOnlinePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElecsnetOnlinePaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.elecsnet.ElecsnetOnlinePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StdPayOnlinePaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.paystd.StdOnlinePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Way4OnlinePaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.way4.Way4PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBKGDOnlinePaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.sberbank_kgd.SBKGDOnlinePaymentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SBMSKOnlinePaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.sberbank_msk.SBMSKOnlinePaymentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LastModifiedOrgsServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.newispp.LastModifiedOrgsServlet</servlet-class>
    </servlet>

    <!--<servlet>
        <servlet-name>PreorderServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.preorder.PreorderService</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/preorder</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.providers</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.preorder.PreorderRequestInterceptor</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreorderServlet</servlet-name>
        <url-pattern>/preorder/*</url-pattern>
    </servlet-mapping>-->


    <servlet>
        <servlet-name>SignCardControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.internal.CardSignature</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignCardControllerWS</servlet-name>
        <url-pattern>/soap/signcards</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SyncServlet</servlet-name>
        <url-pattern>/sync</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CommonTaskServlet</servlet-name>
        <url-pattern>/commontask</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SpbCardServiceServlet</servlet-name>
        <url-pattern>/cardservice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SmsServlet</servlet-name>
        <url-pattern>/sms-state/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjectStateReportServlet</servlet-name>
        <url-pattern>/prj-state</url-pattern>
    </servlet-mapping>

   <servlet-mapping>
        <servlet-name>SMSStatusServlet</servlet-name>
        <url-pattern>/sms-status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
         <servlet-name>SBRTOnlinePaymentServlet</servlet-name>
         <url-pattern>/payment-sbrt</url-pattern>
     </servlet-mapping>

    <servlet-mapping>
         <servlet-name>StdPayOnlinePaymentServlet</servlet-name>
         <url-pattern>/payment-std</url-pattern>
     </servlet-mapping>

    <servlet-mapping>
         <servlet-name>ElecsnetOnlinePaymentServlet</servlet-name>
         <url-pattern>/payment-elecsnet</url-pattern>
     </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RBKMoneyPaymentServlet</servlet-name>
        <url-pattern>/rbkmoney/acceptpay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChronopayPaymentServlet</servlet-name>
        <url-pattern>/chronopay/acceptpay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
         <servlet-name>Way4OnlinePaymentServlet</servlet-name>
         <url-pattern>/payment-way4</url-pattern>
     </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBKGDOnlinePaymentServlet</servlet-name>
        <url-pattern>/payment-sbkgd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SBMSKOnlinePaymentServlet</servlet-name>
        <url-pattern>/payment-sbmsk</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LastModifiedOrgsServlet</servlet-name>
        <url-pattern>/modified-orgs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientRoomControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.integra.soap.ClientRoomControllerWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientRoomControllerWS</servlet-name>
        <url-pattern>/soap/client</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.integra.soap.PaymentControllerWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentControllerWS</servlet-name>
        <url-pattern>/soap/payment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotifyControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.integra.notify.NotifyControllerWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotifyControllerWS</servlet-name>
        <url-pattern>/soap/notify</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FrontControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.internal.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControllerWS</servlet-name>
        <url-pattern>/soap/front</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NSIDeltaControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.nsi.NSIDeltaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NSIDeltaControllerWS</servlet-name>
        <url-pattern>/soap/nsi_delta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServiceWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.dashboard.DashboardServiceWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServiceWS</servlet-name>
        <url-pattern>/soap/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.internal.report.ReportControllerWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportControllerWS</servlet-name>
        <url-pattern>/soap/integro</url-pattern>
    </servlet-mapping>

		<servlet>
        <servlet-name>RegularPaymentWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.acquiropay.soap.RegularPaymentWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegularPaymentWS</servlet-name>
        <url-pattern>/soap/regpay</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>POSPaymentControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.integra.soap.POSPaymentControllerWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>POSPaymentControllerWS</servlet-name>
        <url-pattern>/soap/pos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SpecialCardsControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.internal.SpecialCardsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialCardsControllerWS</servlet-name>
        <url-pattern>/soap/specialcards</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EZDControllerWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.ezd.EZDControllerSOAP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EZDControllerWS</servlet-name>
        <url-pattern>/soap/ezd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EMIASControllewWS</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.emias.EMIASController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EMIASControllewWS</servlet-name>
        <url-pattern>/soap/emias</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BarcodeServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.BarcodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarcodeServlet</servlet-name>
        <url-pattern>/barcode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IntegroServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.IntegroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntegroServlet</servlet-name>
        <url-pattern>/integro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegularPaymentServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.partner.acquiropay.RegularPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegularPaymentServlet</servlet-name>
        <url-pattern>/regpay-acquiropay</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmartWatchServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.smartwatch.SmartWatchRestController</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/smartwatch</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.providers</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.smartwatch.SmartWatchRequestInterceptor</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmartWatchServlet</servlet-name>
        <url-pattern>/smartwatch/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>OkuServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.oku.OkuRestController</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/assessment</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.providers</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.oku.OkuRequestInterceptor</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>OkuServlet</servlet-name>
        <url-pattern>/assessment/*</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>FpsApiServlet</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
        <param-name>resteasy.resources</param-name>
        <param-value>ru.axetta.ecafe.processor.web.partner.fpsapi.FpsapiController</param-value>
    </init-param>
    <init-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/fps/api</param-value>
    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FpsApiServlet</servlet-name>
        <url-pattern>/fps/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EzdServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.ezd.EzdController</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/ispp/ezd</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EzdServlet</servlet-name>
        <url-pattern>/ispp/ezd/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmiasKafkaServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>ru.axetta.ecafe.processor.web.internal.emias.EmiasInternal</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/emias_internal</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmiasKafkaServlet</servlet-name>
        <url-pattern>/emias_internal/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LibraryServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>ru.axetta.ecafe.processor.web.partner.library.LibraryController</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/ispp/library</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibraryServlet</servlet-name>
        <url-pattern>/ispp/library/*</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>FoodBoxServlet</servlet-name>-->
<!--        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>resteasy.resources</param-name>-->
<!--            <param-value>ru.axetta.ecafe.processor.web.partner.meals.MealsController</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>resteasy.servlet.mapping.prefix</param-name>-->
<!--            <param-value>/ispp/meals</param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>FoodBoxServlet</servlet-name>-->
<!--        <url-pattern>/ispp/meals/*</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>ESPServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>ru.axetta.ecafe.processor.web.internal.esp.ESPController</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/ispp/ESP</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ESPServlet</servlet-name>
        <url-pattern>/ispp/ESP/*</url-pattern>
    </servlet-mapping>

<!--
    <servlet>
        <servlet-name>SchoolServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>
                ru.axetta.ecafe.processor.web.partner.schoolapi.SchoolRestController
            </param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/school/api/v1</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.providers</param-name>
            <param-value>
                ru.axetta.ecafe.processor.web.partner.schoolapi.error.WebApplicationExceptionMapper,
                ru.axetta.ecafe.processor.web.partner.schoolapi.error.GenericExceptionMapper
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchoolServlet</servlet-name>
        <url-pattern>/school/api/v1/*</url-pattern>
    </servlet-mapping>
-->

    <filter>
        <filter-name>CleanupFilter</filter-name>
        <filter-class>ru.axetta.ecafe.processor.web.partner.ResteasyCleanupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CleanupFilter</filter-name>
        <url-pattern>/fps/api/*</url-pattern>
        <url-pattern>/assessment/*</url-pattern>
        <url-pattern>/smartwatch/*</url-pattern>
        <url-pattern>/ispp/library/*</url-pattern>
        <url-pattern>/ispp/ezd/*</url-pattern>
	    <url-pattern>/emias_internal/*</url-pattern>
	    <url-pattern>/ispp/ESP/*</url-pattern>
        <url-pattern>/ispp/meals/*</url-pattern>
    </filter-mapping>
<!--
    <filter>
        <filter-name>springSecurityTokenFilter</filter-name>
        <filter-class>ru.axetta.ecafe.processor.web.token.security.jwt.JWTAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityTokenFilter</filter-name>
        <url-pattern>/school/api/v1/*</url-pattern>
    </filter-mapping>-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict direct access to JSFs</web-resource-name>
            <url-pattern>/back-office/elections.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict direct access to include-only JSPs</web-resource-name>
            <url-pattern>/client-room/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <!--security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict direct access to include-only JSFs</web-resource-name>
            <url-pattern>/back-office/include/*</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict transport for login page</web-resource-name>
            <url-pattern>/back-office/login.xhtml</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict unauthorized access to service functions</web-resource-name>
            <url-pattern>/back-office/index.faces</url-pattern>
            <url-pattern>/back-office/confirm-sms.faces</url-pattern>
            <url-pattern>/back-office/change-password.faces</url-pattern>
            <url-pattern>/back-office/client_csv_list.faces</url-pattern>
            <url-pattern>/back-office/client_org_csv_list.faces</url-pattern>
            <url-pattern>/back-office/client_balance_hold_csv_list.faces</url-pattern>
            <url-pattern>/back-office/free_complex_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/pay_complex_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/sale_csv_list.faces</url-pattern>
            <url-pattern>/back-office/client_load_result_csv_list.faces</url-pattern>
            <url-pattern>/back-office/client_update_load_result_csv_list.faces</url-pattern>
            <url-pattern>/back-office/client_update_groups_load_result_csv_list.faces</url-pattern>
            <url-pattern>/back-office/card_csv_list.faces</url-pattern>
            <url-pattern>/back-office/card_load_result_csv_list.faces</url-pattern>
            <url-pattern>/back-office/ccaccount_csv_list.faces</url-pattern>
            <url-pattern>/back-office/pos_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/settlement_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/addpayment_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/currentposition_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/enter_event_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/menu_data_xml.jsp</url-pattern>
            <url-pattern>/repository/download</url-pattern>
            <url-pattern>/back-office/org_basic_stats_csv_list.jsp</url-pattern>
            <url-pattern>/back-office/admin/index.faces</url-pattern>
            <url-pattern>/back-office/director/index.faces</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>AuthorizedUser</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict transport safety for synchronization</web-resource-name>
            <!--<url-pattern>/sync</url-pattern>-->
            <url-pattern>/pay</url-pattern>
            <url-pattern>/payment-point</url-pattern>
            <url-pattern>/payment-sbrt</url-pattern>
            <url-pattern>/payment-elecsnet</url-pattern>
            <url-pattern>/payment-std</url-pattern>
            <url-pattern>/rbkmoney/acceptpay</url-pattern>
            <url-pattern>/chronopay/acceptpay</url-pattern>
            <url-pattern>/payment-way4</url-pattern>
            <url-pattern>/payment-sbkgd</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict direct access to include-only JSPs</web-resource-name>
            <url-pattern>/summary/download</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restrict transport safety for client room</web-resource-name>
            <url-pattern>/client-room/index.jsp</url-pattern>
            <url-pattern>/client-room/inlinecabinet.jsp</url-pattern>
            <url-pattern>/client-room/no-styles-inlinecabinet.jsp</url-pattern>
            <url-pattern>/client-room/sso.jsp</url-pattern>
            <url-pattern>/client-room/pages/order-publication.jsp</url-pattern>
            <url-pattern>/client-room/pages/delete-order-publication.jsp</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/back-office/login.xhtml</form-login-page>
            <form-error-page>/back-office/login.xhtml?error=true</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>AuthorizedUser</role-name>
    </security-role>

    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/sessionexpired.jsp</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/sessionexpired.jsp</location>
    </error-page>

    <error-page>
        <error-code>408</error-code>
        <location>/sessionexpired.jsp</location>
    </error-page>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/services-app.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>ru.axetta.ecafe.processor.web.LogoutSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>services</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>ReportRepositoryDownloadServlet</display-name>
        <servlet-name>ReportRepositoryDownloadServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.ui.report.repository.ReportRepositoryDownloadServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReportRepositoryDownloadServlet</servlet-name>
        <url-pattern>/repository/download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SummaryDownloadServlet</servlet-name>
        <servlet-class>ru.axetta.ecafe.processor.web.ui.report.summary.SummaryDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SummaryDownloadServlet</servlet-name>
        <url-pattern>/summary/download</url-pattern>
    </servlet-mapping>

    <context-param>
       <param-name>com.sun.faces.numberOfViewsInSession</param-name>
       <param-value>2</param-value>
    </context-param>

    <context-param>
       <param-name>com.sun.faces.numberOfLogicalViews</param-name>
       <param-value>2</param-value>
    </context-param>

</web-app>
