.login-panel {
}

.mleft20px{
    margin-left: 20px;
}

.login-panel-header {
    text-align: center;
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.login-panel-body {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.borderless-form {
    border-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.borderless-div {
    border-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.page-header-text {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
}

.output-text {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #000;
}

.output-text-strong {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #000;
    font-weight: bold;
}

.output-disabled-text {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #a0a0a0;
}

.output-text-org {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #000;
    background-color: #ffffff;
    border: 1;
}

.output-text-org-main {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #000;
    background-color: #ffffff;
    border: 1;
    font-weight: bold;
}

.output-text-big {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 16pt;
    color: #000;
}

.report-error-output-text {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #ffffff;
    background-color: #ff0000;
}

.mailing-error-output-text {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #ffffff;
    background-color: #ff9df5;
}

.output-text-font {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.hint-output-text {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 8pt;
    color: #000;
}

.required-field {
    font-weight: bold;
}

.column-header {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.command-link {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.important-command-link {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: red;
}

.error-output-text {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    color: #FF0000;
}

.input-text {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.long-field {
    width: 400px;
}

.command-button {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.upload-command-button {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
    color: white;
}

.upload-command-button-diasbled {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.borderless-grid {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
}

.borderless-grid-align-top td {
    vertical-align: top;
}

.borderless-grid-all-client {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    vertical-align: top;
}

.main-grid {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
}

.main-grid-header {
    background: white;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
}

.main-grid-footer {
    text-align: left;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
}

.header-panel {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.header-panel-body {
}

.left-aligned-column {
    text-align: left;
    vertical-align: middle;
}

.right-aligned-column {
    text-align: right;
    vertical-align: middle;
}

.center-aligned-column {
    text-align: center;
    vertical-align: middle;
}

.main-menu-column {
    min-width: 180px;
    width: 190px;
    vertical-align: top;
}

.workspace-column {
    vertical-align: top;
}

.main-menu {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.main-menu-disabled-group {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.main-menu-disabled-item {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.main-menu-group {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.main-menu-item {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.main-menu-hovered-group {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.main-menu-hovered-item {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
    background-color: #e6e6e6;
}

.main-menu-top-group {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.main-menu-top-item {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: normal;
}

.rich-pmenu-selected-element {
    font-weight: bold;
    font-style: normal;
}

.workspace-toggle-panel {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.workspace-panel-header {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.filter-panel-header {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.rich-datascr {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    background: none;
    border: none;
}

.rich-dtascroller-table {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    background: none;
    margin: 2px;
    border: none;
}

.rich-datascr-act {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: bold;
    color: black;
    border: none;
}

.rich-datascr-inact {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
    color: lightgray;
    border: none;
}

.rich-datascr-button {
    background: none;
    border: none;
}

.rich-datascr-button-dsbld {
    background: none;
    border: none;
}

.tooltip {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
}

.data-table-footer {
    background: none;
}

.data-table-footer-center {
    background: none;
    text-align: center;
    vertical-align: middle;
}

.messages {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.error-messages {
    color: red;
}

.info-messages {
    color: darkslategray;
}

.warn-messages {
    color: darkred;
}

.test-modal-panel-header {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.modal-panel-header {
    font-family: Segoe UI, Tahoma, Arial, Sans-Serif;
    font-weight: normal;
    font-size: 10pt;
}

.select-panel-row {
    cursor: pointer;
}

.upload {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
}

.valign {
    vertical-align:top;
}

.cachePersitentStat td {
    text-align: center;
    width: 100%;
}

.cachePersitentStat .left {
    width: 30%;
}
.cachePersitentStat .right {
    width: 70%;
}
.cachePersitentStat .right .left {
    width: 50%;
}
.cachePersitentStat .right .right {
    width: 50%;
}

.orgMenuView td td{
    border: 1px solid black;
}

.orgMenuView .right {
    padding-left: 80px
}

.gray {
    background-color: #EAF0F8;
    color: #474747;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10pt;
    font-weight: bold;
}

.changed-permission-option {
    background-color: #ff9df5;
}

.column-width-250 {
    width: 250px;
}

.column-width-500 {
    width: 500px;
}
.date-table{
    width: 130px;
}

.date-input{
    width: 96px;
}