.bodyDiv {
    margin: 0 auto;
    width: 880px;
    padding: 0 0;
}

body {
    /*font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 14px;
    color: #292e31;
}

.header {
    line-height: 50px;
    width: inherit;
    vertical-align: middle;
}

.contract {
    /*font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;*/
    font-size: 1.5em;
    color: rgba(3, 3, 25, 0.60);
}

.errorMessage {
    color: red;
}

.successMessage {
    color: green;
}

.ui-textfield {
    font: inherit;
    color: inherit;
    text-align: left;
    outline: none;
    cursor: text;
    background: #f6f6f6 url(flick/images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    padding: 0.25em 0.5em;
}