#content {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #CCD0D3;
}

#cycleDiagram {
    background: #ffffff;
}

#infoHeader {
    background: linear-gradient(to bottom, #fafbfc 0, #e6ecef 100%);
    font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, serif;
    line-height: 1.6em;
    text-align: center;
    padding: 15px;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1em;
    color: #008cdd;
}
