<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.datasource">java:/PostgresDS</property>
	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	<property name="show_sql">true</property>
	<mapping resource="com/vaannila/student/Student.hbm.xml"/>
	<mapping resource="com/vaannila/student/Course.hbm.xml"/>
</session-factory>
